[Dd]ebug/
[Rr]elease/
build/
!packages/**/[Bb]uild
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
*.user
TestResults/
*.tmp
*.orig
*[Rr]e[Ss]harper.user
_ReSharper.*/
*StyleCop.Cache
.vs/
**/*/node_modules/
*/.sass-cache/
*/src/styles/css/
**/*/dist/
*/npm-debug.log
*/.npm-debug.log
*/public/css
**/log.txt
packages/
*.dbmdl
*.jfm